header, footer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(226, 72, 72);
}
header img {
    margin-right: 15px;
}
header{
    padding: 15px;
}

h1{
    margin-left: 5px;
    font-size:45px;
    font-family: Arial, sans-serif;
}

footer {
    padding:25px;
    background-color: rgb(200, 200, 200);
    justify-content: center;
}

.body-container {
    display: flex;
    background-color: beige;
}

.left-section {
    flex: 0 0 20%;
    margin: 15px;
    background-color: rgb(230, 230, 230);
    list-style-type: disc;
}
.left-section ul{
    list-style-type: disc; /* or "circle" or "square" if you prefer */
    padding-left: 20px;
}
.left-section li{
    padding:2px;
}
.left-section h2{
    font-size:25px;
    padding:10px;
    text-align: center;
    color:red
}
.right-section {
    flex: 3;
    width:75%;
    display: flex;
    flex-direction: column;

}

.upper-right {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
}

.upper-right img {
    width: 485px;
    height: 400px;
    object-fit: fill;
    padding: 5px;
    background-color: beige;
}

.lower-right {

    flex-grow: 1;
    object-fit: contain;
    background-color: #f0f0f0;
    padding: 15px;
    
}

body, html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}
p{
    padding:10px;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

button{
    padding: 5px;
    background-color: black;
    color:yellow;
}
.body-container {
    flex: 1;
}

#bar-chart {
    width: 100%;
    max-height: 400px;
}